.content {
            border: none;
            outline: none;
            border-radius: 0.4rem;
	        margin-top: 10px;
            flex-grow: 1;
            width: 100%; /* Ocupa el ancho completo */
            display: flex;
            flex-direction: column; /* Cambio importante aquí */
            align-items: center; /* Centra el contenido verticalmente */
	        background-image: linear-gradient(to bottom, red, yellow);
            color: black; /* Color de texto provisional */
        }